<template>
     <v-slider    v-model="value[meta.name]"
                  :min="meta.rangeMin"
                  :max="meta.rangeMax"
                  thumb-label="always">
      </v-slider>
</template>

<script lang="ts" src='./DataInputRangeComponent.ts'></script>
