<template>
    <div>
        
    <test-harness ref='harness'  title='Number Spinner' v-model="parameters"  :titleIconCss="`${ComponentIconConstants.NumberSpinnerIcon}`">         

        <template slot='preview' >
            <db-number-spinner v-model='parameters.value' :min='parameters.min' :max='parameters.max'></db-number-spinner>
            
        </template>

        <template slot='information'>
            Test Harness For Number Spinner
        </template>
        
    </test-harness>
    </div>
</template>

<script lang="ts" src='./NumberSpinnerPage.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>
