<template>
  <div class='property-drop-down'>
  <v-select
          solo
           :item-text='meta.optionsDisplayField'
           :item-value='itemObject'
          v-model="value[meta.name]"
          :items="objectListFromProvider"></v-select>
  </div>
</template>
    
<script lang="ts" src='./DataInputObjectOptionsComponent.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>