<template>
    <div v-on-resize  @resize="onResize" class='axis-ruler-time-component'>
        <canvas ref='canvas'></canvas>
    </div>
</template>

<script  lang="ts"  src='./AxisRulerTimeComponent.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>