<template>
    <div ref='gridContainer' class='schedule-grid-component'>
        <div  v-for='(x) in gridLinesMinor'  :key='`2${x}`' class='vertical-minor' :style='`left:${x}px;`'>
        </div>
        <div  v-for='(x) in gridLinesMajor'  :key='`1${x}`' class='vertical-major' :style='`left:${x}px;`'>
        </div>
        
    </div>
</template>

<script  lang="ts"  src='./ScheduleGridComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>