.schedule-grid-component {

    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: lighten( steelblue, 50);
    opacity 0.5;

    .vertical-minor {
        position: absolute;
        width:1px;
        border-left:solid 1px lighten( grey,30);
        left:80px;
        top:0;
        bottom:0;
        width:1px;
    }

    .vertical-major {
        position: absolute;
        width:2px;
        border-left:solid 1px blue;
        left:80px;
        top:0;
        bottom:0;
        width:1px;
    }
  
}