<template>

    <test-harness ref='harness' v-model="parameters" title='Loader' :titleIconCss="`${ComponentIconConstants.LoaderIcon}`">

        <template slot='preview'>
            <db-loader :loaderSize='parameters.loaderSize'></db-loader>
        </template>

        <template slot='information'>
            Test Harness For Loader
        </template>
        
    </test-harness>

</template>

<script lang="ts" src='./LoaderPage.ts'></script>
