<template>
    <div>
        
    <test-harness   ref='harness'
                    v-model='parameters'
                    :events='events'
                    title='Sample Component' 
                    :titleIconCss="`${ComponentIconConstants.sampleIcon}`">                

        <template slot='preview'>
            <sample-component v-model="parameters"
                              :address='parameters.address'
                              :houseNumber='parameters.houseNumber'
                              :rented='parameters.rented'
                              @sampleEventA="sampleEventA"
                              @sampleEventB="sampleEventB"
                              @sampleEventC="sampleEventC"
                              @sampleEventD="sampleEventD">
            </sample-component>
        </template>

        <template slot='information'>
            Sample Component for a guide as how to use the framework
        </template>
        
    </test-harness>
    </div>
</template>

<script lang="ts" src='./SamplePage.ts'></script>
