<template>
    
    <div ref='list' class='message-list-component'>
        <div ref='transcript' class="message-transcript">
         <template value="true" v-for="(message) in value.messages">
             <div :key="message.id" class='message-line'>
                
                 <div :class="`message-wrapper ${senderOrViewer(message)}`">


                    <div v-if='message.groupFirstMessageOfTheDay'>
                        <div class='header-date'>{{formatDateTime(message.groupSendDateTime,value.daySeparatorDateTimeFormat)}}</div>
                    </div>


                    <div :class="`message-group-wrapper ${senderOrViewer(message)} ${avatarSpacingCss()}`">

                        <div v-if='value.showAvatar && message.authorFirstAppearance' class='avatar-container'>
                            <v-img :src='message.author.avatarImageUrl'></v-img>
                        </div>

                        <div v-if='message.authorFirstAppearance' class="message-header" >   
                            <span :class="`field-user ${senderOrViewer(message)}`">{{message.author.userName}}</span>
                            <span class="field-time">{{formatDateTime(message.groupSendDateTime,value.messageDateTimeFormat)}}</span>
                            <div style="clear:both;"></div>
                        </div>


                        <div :class="`content-text-wrapper ${senderOrViewer(message)}`">
                            <div>{{message.content}}</div>
                        </div>

                    </div>

                 </div>
             </div>
         </template>
         <div autofocus></div>
    </div>
    </div>
</template>


<script lang="ts" src='./MessageListComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>