.message-list-component {
    
    
    overflow-y: scroll;
    position:relative;
    max-height: inherit;
    //height :inherit;


    .message-transcript {
        padding: 4px;

        .message-line {
            width: 100%;
        }

        .header-date {
            text-align: center;
            padding-top: 6px;
            padding-bottom: 2px;
            color: #999;
            font-size: 0.9em;
        }

        .message-wrapper {
            margin-top: 1px;

            &.viewer {
                text-align: right;
            }

            &.sender {
                text-align: left;
            }
        }

        .message-group-wrapper {
            position: relative;

            .avatar-container {
                position: absolute;
                top: 6px;
                width: 48px;
                height: 48px;
                border-radius: 8px;
                overflow: hidden;
            }

            &.viewer {
                &.avatar-spacing {
                    padding-right: 50px;

                    .avatar-container {
                        right: 0;
                    }
                }
            }

            &.sender {
                &.avatar-spacing {
                    padding-left: 50px;

                    .avatar-container {
                        left: 0;
                    }
                }
            }
        }

        .message-header {
            .field-user {
                color: #999;

                &.viewer {
                    float: right;
                    margin-right:4px;
                    margin-left: 8px;                
                }

                &.sender {
                    margin-right: 8px;
                    margin-left:4px;
                }
            }

            .field-time {
                color: #999;
                font-weight: 300;
            }
        }

        .content-line-wrapper {
            &.viewer {
                text-align: right;
            }

            &.sender {
                text-align: left;
            }
        }

        .content-text-wrapper {
            display: inline-block;
            color: #fff;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 6px;
            max-width: 80%;

            &.viewer {
                background: lighten(steelblue, 20);
            }

            &.sender {
                background: lighten(grey, 20);
            }
        }
    }
}