<template>
<v-card class="mb-3">

    <v-card-title primary-title class='grey lighten-3 title'>
        Event Log
    </v-card-title>

    <div class="pb-2 pl-1 pr-1">

        <div v-if="showEventList">
            <v-container fluid class=' grey lighten-4 pa-1 mt-1'>
                <v-layout row wrap class='parameter-titles'>
                    <v-flex xs1>
                        <label>Event Id</label>
                    </v-flex>
                    <v-flex xs2>
                        <label>Date time</label>
                    </v-flex>
                    <v-flex x3>
                        <label>Name</label>
                    </v-flex>
                    <v-flex xs6>
                        <label>Values</label>
                    </v-flex>
                </v-layout>
            </v-container>

            <template value="true" v-for="(event) in eventLog.eventListReversed">

                <v-container fluid :key="event.eventId" class=' grey lighten-4 pa-1 mt-1'>

                    <v-layout row wrap class="parameter-values">
                        <v-flex xs1>
                            <label>{{event.eventId}}</label>
                        </v-flex>
                        <v-flex xs2>
                            <label>{{event.formattedDate}}</label>
                        </v-flex>
                        <v-flex xs3>
                            <label>{{event.name}}</label>
                        </v-flex>
                        <v-flex xs6>
                            <label>{{event.values}}</label>
                        </v-flex>

                    </v-layout>
                </v-container>

            </template>
        </div>

        <v-container v-else fluid class=' grey lighten-4 pa-1 mt-1'>
            <v-layout row wrap>
                <v-flex xs12>
                    <label>No events recorded</label>
                </v-flex>
            </v-layout>
        </v-container>

    </div>
</v-card>
</template>

<script lang="ts" src='./EventLogComponent.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>
