<template>
<v-card v-if='showList' class="mb-3">

    <v-card-title primary-title class='grey lighten-3 title'>
        {{title}}
    </v-card-title>
    <div class="pb-2 pl-1 pr-1">
        <template value="true" v-for="(meta) in parameters">

            <v-container fluid :key="meta.name" class=' grey lighten-4 pa-1 mt-1'>

                <v-layout row wrap class='parameter-titles'>
                    <v-flex xs3>
                        <label>name</label>
                    </v-flex>
                    <v-flex xs3 pl-5>
                        <label>type</label>
                    </v-flex>
                    <v-flex xs3 pl-5>
                        <label>default</label>
                    </v-flex>
                    <v-flex xs3 class="pr-3 text-xs-center">
                        <label>value</label>
                    </v-flex>
                </v-layout>
                <v-layout row wrap class="parameter-values">
                    <v-flex xs3>
                        <label class='name'>{{meta.name}}</label>
                    </v-flex>
                    <v-flex xs3 pl-5>
                        <label>{{meta.typeAsString}}</label>
                    </v-flex>
                    <v-flex xs3 pl-5>
                        <label>{{meta.defaultValue}}</label>
                    </v-flex>
                    <v-flex xs3 class="pr-3 text-xs-right" >
                        <div :is='meta.dataInputComponentType' :meta='meta' v-model='value'></div>
                    </v-flex>

                </v-layout>

                <v-layout row wrap class="parameter-description">
                    <v-flex xs12>
                        <label> <span v-html="meta.description"></span></label>
                    </v-flex>
                </v-layout>
            </v-container>

        </template>
    </div>
</v-card>
</template>

<script lang="ts" src='./ParametersListComponent.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>