.parameter-titles {
    label {
        font-family: monospace;
        font-weight: light;
        font-size: 12px;
        color: #555;
    }
}

.parameter-values {
    label {
        font-family: monospace;
        font-weight: bold;
        font-size: 16px;
        color: #222;
        word-wrap: break-word;
    }

    .name {
        color: #bd4147;
    }
}

.parameter-description {
    background-color: #eee;
    margin-left: -4px;
    margin-right: -4px;
    margin-bottom: -4px;
    margin-top: 4px;
    padding: 2px;
    padding-left: 4px;

    label {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 16px;
        color: #777;
        word-wrap: break-word;
    }
}