<template>
    <div >
        
    <test-harness ref='harness' v-model="parameters" title='Axis Ruler Time' :titleIconCss="`${ComponentIconConstants.AxisRulerTimeIcon}`">         

        <template slot='preview' >
            <div class='axis-time-page-container'>

                <db-axis-ruler-time :startTime='parameters.startDateTime'
                                    :presentationScale='parameters.presentationScale'
                                    :pixelOffsetX='parameters.pixelOffsetX'>
                </db-axis-ruler-time>
                <db-time-line-gesture-recognizer v-model="parameters">
                </db-time-line-gesture-recognizer>
            </div>
            
        </template>

        <template slot='information'>
            Test Harness For time axis
        </template>
        
    </test-harness>
    </div>
</template>

<script lang="ts" src='./AxisTimePage.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>
