<template>
<div>
    <div v-if='evaluatedShowProperties'>
        <div v-if='doParametersExist'>
            <db-parameters-list v-model='value' title='Model Fields' :parameters='modelFields'/>
            <db-parameters-list v-model='value' title='Attributes' :parameters='attributes'/>
        </div>
        <div v-else>
            <v-card>
                <v-card-title primary-title class=''>
                    No Parameters
                </v-card-title>
            </v-card>
        </div>
    </div>

    <div v-if='evaluatedShowEvents'>
        <div v-if='doEventsExist'>
            <db-event-list v-model='value' title='Events' :parameters='events'/>
        </div>
        <div v-else>
            <v-card>
                <v-card-title primary-title class=''>
                    No Events
                </v-card-title>
            </v-card>
        </div>
    </div>

</div>
</template>

<script lang="ts" src='./ParametersFormComponent.ts'></script>