<template>
<test-harness ref='harness' title='Directive - Resize' :titleIconCss="`${ComponentIconConstants.resizeDirectiveIcon}`">

    <template slot='preview'>
        <div class='demo-container'>

        <div v-on-resize  @resize="onResize"
             :class='`demo-element demo-width-${elementWidth} demo-height-${elementHeight}`'></div>

        <div class='demo-toolbar text-xs-center'>
            <span class='title pa-2'>Width</span>
        <v-btn-toggle v-model="elementWidth" mandatory>
            <v-btn flat>
                narrow
            </v-btn>
            <v-btn flat>
                medium
            </v-btn>
            <v-btn flat>
                wide
            </v-btn>
        </v-btn-toggle>

        <span class='title pa-2 pl-5'>Height</span>
        <v-btn-toggle v-model="elementHeight" mandatory>
            <v-btn flat>
                short
            </v-btn>
            <v-btn flat>
                medium
            </v-btn>
            <v-btn flat>
                tall
            </v-btn>
        </v-btn-toggle>
        </div>
        </div>
    </template>

    <template slot='information'>
        Test Harness For Resize Directive
    </template>

</test-harness>
</template>


<script lang="ts" src='./ResizeDirectivePage.ts'></script>
<style lang="stylus" scoped src="./Styles.styl"></script>