button {
    width:100px !important;

}
.demo-container {
    position: relative;
    height: 350px;
    width: 100%;
}

.demo-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.demo-element {
    margin: auto;
    border: dashed 6px steelblue;
    border-radius: 8px;
    background-color: lighten(steelblue, 20);
}

.demo-width-0 {
    width: 200px;
}

.demo-width-1 {
    width: 400px;
}

.demo-width-2 {
    width: 600px;
}

.demo-height-0 {
    height: 50px;
}

.demo-height-1 {
    height: 150px;
}

.demo-height-2 {
    height: 250px;
}