<template>

    <test-harness   ref='harness' 
                    v-model='parameters' 
                    title='Image Picker' 
                    :titleIconCss="`${ComponentIconConstants.imagePickerIcon}`">

        <template slot='preview'>
                <db-image-picker    v-model='parameters.image'
                                    :galleries='parameters.galleries'
                                    @selectedNewImage='onSelectedNewImage'>
                </db-image-picker>
        </template>

        <template slot='information'>
            Test Harness For Image Picker
        </template>
        
    </test-harness>

</template>

<script lang="ts" src='./ImagePickerPage.ts'></script>
