<template>
<v-container fluid ma-0 pa-0>
    <v-card>

        <v-card-title primary-title class='grey lighten-3 title'>
            Schedule
        </v-card-title>
        <v-container fluid class=' grey lighten-4 pa-1 '>

            <v-layout row wrap class='parameter-titles'>
                <v-flex xs2 class='pl-2'>
                    <v-btn>Generate Test Data</v-btn>
                </v-flex>
                
            </v-layout>
           
        </v-container>    
    </v-card>
</v-container>
</template>          
<script lang="ts" src='./TimeLineDemoComponent.ts'></script>
