<template>
    <div class='test-harness-simple-chart'>
        <test-harness ref='harness' v-model="parameters" title='Data List Key' :titleIconCss="`${ComponentIconConstants.DataListKeyIcon}`">

            <template slot='preview'>
                <div class='preview-region'>
                    <db-data-key-list v-model='parameters.value'></db-data-key-list>
                </div>
            </template>

            <template slot='information'>
                Test Harness For Data List
            </template>
 
        </test-harness>
    </div>
</template>

<script lang="ts" src='./DataListKeyPage.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>
