<template>
<v-container fluid ma-0 pa-0>
    <v-card>

        <v-card-title primary-title class='grey lighten-3 title'>
            Available Avatars
        </v-card-title>
        <v-container fluid class=' grey lighten-4 pa-1 '>

            <v-layout row wrap class='parameter-titles'>
                <v-flex xs2 class='pl-2'>
                    <label>Name</label>
                </v-flex>
                <v-flex xs2 class='pl-2'>
                    <label>AlternativeText</label>
                </v-flex>
                <v-flex xs3 class='pl-2'>
                    <label>Notifications</label>
                </v-flex>
                <v-flex xs3 class='text-xs-center'>
                    <label>Border Animation</label>
                </v-flex>
                <v-flex xs1 class='text-xs-right'>
                    <label>Selected</label>
                </v-flex>
                <v-flex xs1 class='text-xs-right'>
                    <label>Visible</label>
                </v-flex>
            </v-layout>

            <template v-for="(avatar) in avatarList">

                <v-layout :key='avatar.id' row wrap>
                    <v-flex xs2 pa-1>
                        <v-text-field solo clearable hide-details v-model='avatar.name' flat></v-text-field>
                    </v-flex>
                    <v-flex xs2 pa-1>
                        <v-text-field solo clearable hide-details v-model='avatar.alternativeText' flat></v-text-field>
                    </v-flex>
                    <v-flex xs3 pa-1 pl-4 pr-4>
                        <v-slider v-model="avatar.notifications" :min="0" :max="30" thumb-label="always">
                        </v-slider>
                    </v-flex>
                    <v-flex xs3 pa-1>
                        <div class='property-drop-down'>
                            <v-select solo hide-details v-model="avatar.borderAnimation" :items="borderAnimationOptions"></v-select>
                        </div>
                    </v-flex>
                    <v-flex xs1 pa-1 pt-3 class='text-xs-center'>
                        <div class='switch-no-border'>
                            <v-switch v-model="avatar.selected"></v-switch>
                        </div>
                    </v-flex>
                    <v-flex xs1 pa-1 pt-3 class='text-xs-center'>
                        <div class='switch-no-border'>
                            <v-switch v-model="avatar.visible"></v-switch>
                        </div>
                    </v-flex>
                </v-layout>
            </template>
        </v-container>    
    </v-card>
</v-container>
</template>          
<script lang="ts" src='./AllAvatarsListComponent.ts'></script>
