<template>
<div>

    <test-harness ref='harness' title='Event Limiter' :titleIconCss="`${ComponentIconConstants.EventLimiterIcon}`">

        <template slot='preview'>
            <v-container fluid grid-list-md>

                <v-layout row wrap>
                    <v-flex xs12>
                         <v-toolbar color="pink" dark>
                            <v-toolbar-title>Debounce</v-toolbar-title>
                        </v-toolbar>
                        <p class='pt-2'>Debouncing, unlike throttling, guarantees that a function is only executed a single time, either at the very beginning of a series of calls, or at the very end.</p>
                        <p>Debounce execution of a function. Debouncing, unlike throttling, guarantees that a function is only executed a single time, either at the very beginning of a series of calls, or at the very end.</p>
                        <p>Adjust the debounce timer below, and repeatedly press the ping button, see how your clicks are filtered.</p>
                    </v-flex>

                    <v-flex xs5>
                        <v-slider   v-model='delayDebounce' 
                                    label="delay miliseconds" 
                                    min=250 
                                    max=2000 
                                    step="250" 
                                    ticks="always" 
                                    thumb-label="always" 
                                    always-dirty 
                                    tick-size="4">
                        </v-slider>
                    </v-flex>
                    <v-flex xs3 class='text-xs-right '>
                        <v-btn @click='onPingDebounceClicked'>Ping</v-btn>
                    </v-flex>

                    <v-flex xs1 class='title font-weight-light text-xs-right pt-3'>
                        pings
                    </v-flex>
                    <v-flex xs2 class='title font-weight-light pt-3'>
                        {{pingDebounce}}
                    </v-flex>

                    <v-flex xs12>
                        <v-toolbar color="pink" dark>
                            <v-toolbar-title>Throttle</v-toolbar-title>
                        </v-toolbar>
                        <p class='pt-2'>Guards a function so that will execute no more than once every delay milliseconds.</p>
                        <p>Throttle execution of a function. Especially useful for rate limiting execution of handlers on events like resize and scroll.</p>
                        <p>Adjust the debounce timer below, and repeatedly press the ping button, see how your clicks are filtered.</p>
                    </v-flex>

                    <v-flex xs5>
                        <v-slider   v-model='delayThrottle' 
                                    label="delay miliseconds" 
                                    min=250 
                                    max=2000 
                                    step="250" 
                                    ticks="always" 
                                    thumb-label="always" 
                                    always-dirty 
                                    tick-size="4">
                        </v-slider>
                    </v-flex>

                    <v-flex xs3 class='text-xs-right '>
                        <v-btn @click='onPingThrottleClicked'>Ping</v-btn>
                    </v-flex>

                    <v-flex xs1 class='title font-weight-light text-xs-right pt-3'>
                        pings
                    </v-flex>
                    <v-flex xs2 class='title font-weight-light pt-3'>
                        {{pingThrottle}}
                    </v-flex>
                </v-layout>
            </v-container>
        </template>

        <template slot='information'>
           <p>A bit of research to show the difference between throttling and debouncing.</p>
           <p>The following package was used in this demo. </p>
           <p><a href='https://www.npmjs.com/package/throttle-debounce'>throttle-debounce</a></p>
        </template>

    </test-harness>
</div>
</template>


<script lang="ts" src='./EventLimiterPage.ts'></script>

