<template>
<div>

    <test-harness ref='harness' v-model="parameters"  title='Time Line Summary' :titleIconCss="`${ComponentIconConstants.TimeLineSummaryIcon}`">

        <template slot='preview'>
                
            <db-time-line-summary   :overviewDateFrom='parameters.overviewDateFrom'
                                    :overviewDateTo='parameters.overviewDateTo'
                                    :selectedDate='parameters.selectedDate'
                                    :nodeRadius='parameters.nodeRadius'
                                    :lineWidth='parameters.lineWidth'
                                    :programs='parameters.programs'
                                    :summaryStyle='parameters.timeLineSummaryStyle'
                                    :presentationScale='parameters.presentationScale'
                                    @rendered='onRendered'
            ></db-time-line-summary>
           
        </template>

         <template slot='controls'>
            <db-time-line-demo v-model='parameters'></db-time-line-demo>
        </template>

        <template slot='information'>
            Test Harness For Date Picker
        </template>

    </test-harness>
</div>
</template>

<script lang="ts" src='./TimeLineSummaryPage.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>
