<template>
    <div class='time-line-gesture-recognizer-component'
        @mouseenter="onMouseEnter"
        @mouseleave="onMouseLeave"
        @mousemove="onMouseMove"
        @mousedown="onMouseDown"
        @mouseup="onMouseUp">
        
    </div>
</template>

<script  lang="ts"  src='./TimelineGestureRecognizerComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>