<template>
<v-layout class='image-gallery-component'>
    <v-flex xs12>
        <v-expansion-panel focusable v-model='currentOpenPanel'>
            <v-expansion-panel-content  @click.native="onSelectionClick(section)" 
                                        v-for="(section) in gallery.sections" 
                                        :key="section.name">
                <div slot="header">
                    <v-layout row >
                        <v-flex xs10>
                            {{section.name}}
                        </v-flex>
                        <v-flex xs2 class='text-xs-right grey--text'>
                            {{section.imageCount}} items
                        </v-flex>
                    </v-layout>
                </div>

                <v-container grid-list-lg>
                    <v-layout row wrap>
                        <v-flex v-for=" (image) in section.images" :key="image.name" xs3>

                            <v-hover>
                                
                                <v-card :ripple="{ class: 'blue--text lighten-3--text' } " 
                                        tile 
                                        slot-scope="{ hover }" 
                                        :class="`elevation-${hover ? 20 : 2} `"
                                        @click.native="onCardClick(image)"
                                        >
                                    <!-- additional div is used to solve issue where ripple would cause layout change -->
                                    <div :class="{ 'selected-image': image.id == selectedImage.id}">

                                    <v-card-title primary-title class='pt-2'>
                                        <div>
                                            {{image.name}}
                                        </div>
                                        <v-spacer></v-spacer>
                                        <div class='text-xs-right grey--text'>
                                            {{image.width}} x {{image.height}}
                                        </div>
                                    </v-card-title>

                                    <v-layout justify-center pb-2>
                                        <v-img :src="image.localFileName" 
                                                max-height="150px" 
                                                max-width="150px" 
                                                class="grey lighten-2 " 
                                                style='border-radius:4px;'>

                                            <v-layout slot="placeholder" fill-height align-center justify-center ma-0>
                                                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                            </v-layout>
                                        </v-img>
                                    </v-layout>
                                    
                                    </div>
                                </v-card>
                                
                            </v-hover>
    
                        </v-flex>
                    </v-layout>
                </v-container>

            </v-expansion-panel-content>

        </v-expansion-panel>
    </v-flex>
</v-layout>
</template>

<style lang="stylus" scoped src='./Styles.styl'></style>
<script  lang="ts"  src='./SingleGalleryComponent.ts'></script>
