<template>
<v-layout class='colour-selector-component'>
    <v-card style="width:100%;">
        <v-toolbar dense>

            <v-btn-toggle mandatory v-model="colourPicker" class="transparent">
                <v-btn :value="pickerMaterialDesign" flat>
                    Material Design
                </v-btn>

                <v-btn :value="pickerNamedWebColours" flat>
                    Web Colours
                </v-btn>

                <v-btn :value="pickerPantoneColours" flat>
                    Panatone
                </v-btn>

            </v-btn-toggle>

        </v-toolbar>

        <div class='region-palette'>
           
                <div v-if='showPickerMaterialDesign'>
                    <db-colour-palette  :palette='EnumColourPalette.MaterialDesign'
                                        @colourChanged='onColourChanged'>

                    </db-colour-palette>
                </div>
        
                <div v-if='showPickerNamedWebColours'>
                    <db-colour-palette  :palette='EnumColourPalette.WebNamed'
                                        @colourChanged='onColourChanged'>

                    </db-colour-palette>
                </div>

                <div v-if='showPickerPantoneColours' >
                    Pantone colours - work in progress
                </div>

        </div>

        <div class='region-sliders'>
                <db-colour-sliders v-model='value'></db-colour-sliders>
        </div>
            
        <div class='region-swatch'>
                <db-colour-swatch v-model='value'></db-colour-swatch>
        </div>

    </v-card>
</v-layout>
</template>

<script lang="ts" src='./ColourSelectorComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>
