.colour-selector-component {
    width: 100%;
    height:540px;

    .region-palette {
        position: absolute;
        top:48px;
        left:0;
        width:585px
        height:490px;
    }

    .region-sliders {
        position: absolute;
        top:48;
        left:597px;
        width:310px;
        height:490px;
    }

    .region-swatch {
        position: absolute;
        left:906px;
        top:48px;
        width:180px;
        height:490px;
    }
}