<template>
<div class="colour-sliders-component">

    <div class="control-block">
        <div class='row'>
            <div class='control-label'>Red</div>
            <div class='control-input'>
                <db-number-spinner v-model='colour.red' :min='0' :max='255'></db-number-spinner>
            </div>
        </div>
        <div class='row'>
            <div class='slider-gradient' :style='styleRedGradient'></div>
            <div class='slider-container'>
                <v-slider v-model="colour.red" :min="0" :max="255" color="transparent" track-color="transparent" @start='startRed' @end="releaseSlider"></v-slider>
            </div>
        </div>
    </div>

    <div class="control-block">
        <div class='row'>
            <div class='control-label'>Green</div>
            <div class='control-input'>
                <db-number-spinner v-model='colour.green' :min='0' :max='255'></db-number-spinner>
            </div>
        </div>
        <div class='row'>
            <div class='slider-gradient' :style='styleGreenGradient'></div>
            <div class='slider-container'>
                <v-slider v-model="colour.green" :min="0" :max="255" color="transparent" track-color="transparent" @start="startGreen" @end="releaseSlider"></v-slider>
            </div>
        </div>
    </div>

    <div class="control-block">
        <div class='row'>
            <div class='control-label'>Blue</div>
            <div class='control-input'>
                <db-number-spinner v-model='colour.blue' :min='0' :max='255'></db-number-spinner>
            </div>
        </div>
        <div class='row'>
            <div class='slider-gradient' :style='styleBlueGradient'></div>
            <div class='slider-container'>
                <v-slider v-model="colour.blue" :min="0" :max="255"  color="transparent" track-color="transparent" @start="startBlue" @end="releaseSlider"></v-slider>
            </div>
        </div>
    </div>

    <div class="control-block">
        <div class='row'>
            <div class='control-label'>Hue</div>
            <div class='control-input'>
                <db-number-spinner v-model='colour.hue' :min='0' :max='359'></db-number-spinner>
            </div>
        </div>
        <div class='row'>
            <div class='slider-gradient' :style='styleHueGradient'></div>
            <div class='slider-container'>
                <v-slider v-model="colour.hue"  :min="0" :max="359" color="transparent" track-color="transparent" @start="startHue" @end="releaseSlider"></v-slider>
            </div>
        </div>
    </div>

    <div class="control-block">
        <div class='row'>
            <div class='control-label'>Saturation %</div>
            <div class='control-input'>
                <db-number-spinner v-model='colour.saturationPercentage' :min='0' :max='100'></db-number-spinner>
            </div>
        </div>
        <div class='row'>
            <div class='slider-gradient' :style='styleSaturationGradient'></div>
            <div class='slider-container'>
                <v-slider v-model="colour.saturationPercentage"   :min="0" :max="100" color="transparent" track-color="transparent"  @start="startSaturation" @end="releaseSlider"></v-slider>
            </div>
        </div>
    </div>

    <div class="control-block">
        <div class='row'>
            <div class='control-label'>Luminosity %</div>
            <div class='control-input'>
                <db-number-spinner v-model='colour.luminosityPercentage' :min='0' :max='100'></db-number-spinner>
            </div>
        </div>
        <div class='row'>
            <div class='slider-gradient' :style='styleLuminosityGradient'></div>
            <div class='slider-container'>
                <v-slider v-model="colour.luminosityPercentage" :min="0" :max="100" color="transparent" track-color="transparent" @start="startLuminosity" @end="releaseSlider"></v-slider>
            </div>
        </div>
    </div>
  
</div>
</template>


<script lang="ts" src='./ColourSlidersComponent.ts'></script>
<style lang="stylus"  src='./Styles.styl'></style>
