.colour-sliders-component {
    .control-block {
        position: relative;
        width: 300px;

        .row {
            position: relative;
            height: 31px;

            .slider-container {
                padding-left: 15px;
                padding-right: 15px;
            }

            .slider-gradient {
                position: absolute;
                top: 1px;
                left: 0;
                right: 0;
                bottom: 0;
                pointer-events: none;
                border-radius: 20px;
            }

            .control-label {
                float: left;
                height: 100%;
                width: 120px;
                padding-top:9px;
                padding-left: 8px;
                font-size: 16px;
            }

            .control-input {
                float: right;
                text-align: right;
                height: 100%;
                width: 120px;
                padding-top:6px;
            }
        }
    }

    .v-slider {
        padding: 0;
        margin: 0;
    }

    .v-input {
        margin: 0;
    }

    .v-input__slot {
        margin: 0;
    }

    .v-messages {
        display: none;
    }

    .colour-value {
        text-align: right;
        width: 40px;
    }

    .v-slider__thumb {
        width: 48px;
        height: 48px;
        left: -24px;
        border: solid 1px grey !important;
        background-color: white !important;
    }

    .v-slider__thumb-container.v-slider__thumb-container--is-active {
        .v-slider__thumb {
            transform: translateY(-50%) scale(0.6) !important;
        }
    }
}
