<template>
    <div>
        
    <test-harness ref='harness' v-model="parameters" title='Badge' :titleIconCss="`${ComponentIconConstants.BadgeIcon}`">         

        <template slot='preview' >
            <div class='test-harness-badge'>

                <div class='sample-demo-button-container'>
                    <v-btn>Button
                        <db-badge   v-model='parameters.notifications' 
                                :position='parameters.position'
                                :alignment='parameters.alignment'
                                >
                    </db-badge>
                    </v-btn>
                </div>

                <div class='sample-demo-label-container'>
                    <label>Sample Label 
                        <db-badge   v-model='parameters.notifications' :position='parameters.position' :alignment='parameters.alignment'> </db-badge>
                    </label>
                </div>

                <div class='sample-demo-large-div-container'>
                    <div class="tl"></div>
                    <div class="tr"></div>
                    <div class="bl"></div>
                    <div class="br"></div>
                    <db-badge   v-model='parameters.notifications' 
                                :position='parameters.position'
                                :alignment='parameters.alignment'
                                >
                    </db-badge>
                </div>

                <div class='sample-demo-small-div-container'>
                    <div class="tl"></div>
                    <div class="tr"></div>
                    <div class="bl"></div>
                    <div class="br"></div>
                    <db-badge   v-model='parameters.notifications' 
                                :position='parameters.position'
                                :alignment='parameters.alignment'
                                >
                    </db-badge>
                </div>

            </div>
            
        </template>

        <template slot='information'>
            Test Harness For Badge
        </template>
        
    </test-harness>
    </div>
</template>

<script lang="ts" src='./BadgePage.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>
