.test-harness-badge {

    position: relative ;
    text-align: center;
    width:100%;
    height:120px;

    .sample-demo-button-container {
        position absolute;
        left:0;
        padding-top: 12px;
        width:200px;
        height:80px;
        border:solid 2px #eee;
        border-radius:4px;
    }

    .sample-demo-label-container {
        position absolute;
        left:220px;
        padding-top: 30px;
        width:200px;
        height:80px;
        border:solid 2px #eee;
        border-radius:4px;

        label {
            position:relative;
        }
    }


    .sample-demo-large-div-container {
        position absolute;
        left:440px;
        width:80px;
        height:80px;
        border:solid 2px grey;
        border-radius:4px;

        .tl, .tr, .bl, .br {
            position:absolute;
            width:39px;
            height:39px;
            border:solid 1px #ccc;
        }

        .tl {
            top:0;
            left:0;
        }

        .tr {
            top:0;
            right:0;
        }

        .bl {
            bottom: 0;
            left:0;
        }

        .br {
            bottom: 0;
            right:0;
        }
    }

    .sample-demo-small-div-container {
        position absolute;
        left:540px;
        top:40px;
        width:40px;
        height:40px;
        border:solid 2px grey;
        border-radius:4px;

        .tl, .tr, .bl, .br {
            position:absolute;
            width:19px;
            height:19px;
            border:solid 1px #ccc;
        }

        .tl {
            top:0;
            left:0;
        }

        .tr {
            top:0;
            right:0;
        }

        .bl {
            bottom: 0;
            left:0;
        }

        .br {
            bottom: 0;
            right:0;
        }
    }


 }