<template>
    <div>
        
    <test-harness ref='harness'  title='Date Picker' :titleIconCss="`${ComponentIconConstants.DatePickerIcon}`">         

        <template slot='preview' >
            <db-date-picker :first-day-of-week='1' v-model='sampleDate'></db-date-picker>
            <div class='pl-5 headline'>
                <span class='font-weight-light'>date:</span><span class='font-weight-bold'>{{dateFormatted}}</span>
            </div>
        </template>

        <template slot='information'>
            Test Harness For Date Picker
        </template>
        
    </test-harness>
    </div>
</template>

<script lang="ts" src='./DatePickerPage.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>
