<template>
    <div >
        
    <test-harness ref='harness' v-model="parameters" title='Schedule Program Grid' :titleIconCss="`${ComponentIconConstants.scheduleProgramGridIcon}`">         

        <template slot='preview' >
            <div class='schedule-grid-page-container'>

                <db-schedule-program-grid :startTime='parameters.startDateTime'
                                    :presentationScale='parameters.presentationScale'
                                    :pixelOffsetX='parameters.pixelOffsetX'>

                </db-schedule-program-grid>

            </div>
            
        </template>

        <template slot='information'>
            Test Harness For schedule program grid
        </template>
        
    </test-harness>
    </div>
</template>

<script lang="ts" src='./ScheduleProgramGridPage.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>
