@import 'button/button-styles.styl';
@import 'switch/switch-styles.styl';
@import 'textfield/text-field-styles.styl'

.fade-enter-active
.fade-leave-active {
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter {
    opacity: 0
  //  transform: translateT(0px);
}
.fade-leave-active {
  opacity: 0
  transition-timing-function: ease;
}