<template>
<v-container fluid ma-0 pa-0>
    <v-card>

        <v-card-title primary-title class='grey lighten-3 title'>
            Simple Chart Demo
        </v-card-title>
        <v-container fluid class=' grey lighten-4 pa-1 '>

            <v-layout row wrap class='parameter-titles'>
                <v-flex xs6 class='pl-2'>
                    <label>Line Graphs</label>
                </v-flex>
                <v-flex xs6 class='pl-2'>
                    <label>Pie Charts</label>
                </v-flex>

            </v-layout>

            <v-layout row wrap>
                <v-flex xs6 pa-1>
                    <v-btn @click="on4RandomLinesClicked">4 Random Lines</v-btn>
                    <v-btn @click="onSineWaveClicked">Sine Wave</v-btn>
                </v-flex>
                <v-flex xs6 pa-1>
                    <v-btn @click="on4SegmentsClicked">4 Segments</v-btn>
                </v-flex>

            </v-layout>

        </v-container>
    </v-card>
</v-container>
</template>


<script lang="ts" src='./SimpleChartDemoComponent.ts'></script>