<template>
    <div>
        
    <test-harness ref='harness'  title='Colour Sliders' :titleIconCss="`${ComponentIconConstants.ColourSlidersIcon}`">         

        <template slot='preview' >
            <db-colour-sliders></db-colour-sliders>
            
        </template>

        <template slot='information'>
            Test Harness For Colour Sliders
        </template>
        
    </test-harness>
    </div>
</template>

<script lang="ts" src='./ColourSlidersPage.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>
