<template>

    <test-harness ref='harness' v-model="parameters" title='Harness Gallery Component' :titleIconCss="`${ComponentIconConstants.gallerySingleIcon}`">              

        <template slot='preview'>
            <db-single-gallery  :gallery='parameters.gallery'
                                :selectedImage='parameters.selectedImage'
                                :autoShowSelectedImage = 'parameters.autoShowSelectedImage'
                                :key='versionNo'
                                :autoOpenOnLoad = 'parameters.autoOpenOnLoad'
                                @selectedNewImage='selectedNewImage'
                                @selectedNewSection='selectedNewSection'
                                >
            </db-single-gallery>
        </template>

        <template slot='information'>
           <div>
                <p>
            The Harness Image Gallery Component is used in this project. Its function is
            to allow the user to select a test image from the parameters section
                </p>
                <p class='orange accent-2 pa-2'>
            Note that the selected image will only be automatically shown if <b>autoShowSelectedImage</b> 
            is set to true.
                </p>
           </div>
        </template>
        
    </test-harness>

</template>

<script lang="ts" src='./SingleGalleryPage.ts'></script>
