<template>
<v-container fluid ma-0 pa-0>
    <v-card>

        <v-card-title primary-title class='grey lighten-3 title'>
            Message List Controls2
        </v-card-title>
        <v-container fluid class='  pa-1 '>

            <v-layout row wrap >
                <v-flex xs3 pl-2 pr-2>
                    <v-select   @change='onResetChat'
                                :items="predefinedChatsList" 
                                v-model="selectedChat" 
                                label="prefefined chat">
                    </v-select>
                </v-flex>
                <v-flex xs2 >
                    <v-btn      @click="onResetChat">Reset</v-btn>
                </v-flex>
                <v-flex xs3 pl-2 pr-2>
                    <v-switch   @change='updateModel' 
                                v-model="showAvatar" 
                                label="show avatars">
                    </v-switch>
                </v-flex>
                <v-flex xs3 pl-2 pr-2>
                    <v-select   :items="value.chat.users" 
                                v-model="value.chat.viewer"
                                item-text='userName'
                                :item-value='itemObject'
                                label="viewer">
                    </v-select>
                </v-flex>

                 <v-flex xs3 pl-2 pr-2>
                    <v-select   :items="dateFormats" 
                                v-model="value.chat.messageDateTimeFormat"
                                label="message date format">
                    </v-select>
                </v-flex>

                <v-flex xs3 pl-2 pr-2>
                    <v-select   :items="dateFormats" 
                                v-model="value.chat.daySeparatorDateTimeFormat"
                                label="Separator date format">
                    </v-select>
                </v-flex>

            </v-layout>

           
        </v-container>    
    </v-card>
</v-container>
</template>          
<script lang="ts" src='./MessageListDemoControlsComponent.ts'></script>
