<template>
<div class='schedule-demo-page'>
    <db-header></db-header>

    <div class='region-time-line'>
        <db-axis-ruler-time :startTime='dateFrom'
                                    :presentationScale='presentationScale'
                                    :pixelOffsetX='pixelOffsetX'>
        </db-axis-ruler-time>
        
    </div>

    <div class='region-summary'>
     <db-time-line-summary  :dateFrom='dateFrom'
                            :dateTo='dateTo'
                            :nodeRadius='8'
                            :lineWidth='3'
                            :programs='programs'
            ></db-time-line-summary>
    </div>
    <db-footer></db-footer>
</div>
</template>

<script lang="ts" src='./ScheduleDemoPage.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>
