.schedule-demo-page {

    .region-time-line {
        position: absolute;
        left:0;
        right:0;
        top: 150px;
        border:solid 1px red;
    }

    .region-summary {
        position: absolute;
        left:0;
        right:0;
        bottom: 100px;
        border:solid 1px red;
    }
}