<template>
    <div ref='gridContainer' class='program-grid-component'>
        
         <div  v-for="(program) in timeTable.programs" :key='program.name' class='program-row'>
             {{program.name}}
        </div>
    </div>
</template>

<script  lang="ts"  src='./ScheduleProgramGridComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>