.program-grid-component {

    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: lighten( cyan, 50);
    opacity 0.5;
    overflow-y:auto;

    .program-row {
    }

    .vertical-minor {
        position: absolute;
        width:1px;
        border-left:solid 1px lighten( grey,30);
        left:80px;
        top:0;
        bottom:0;
        width:1px;
    }

    
  
}