<template>
       <db-image-picker     v-model='image'
                            :galleries='galleries'
                            @selectedNewImage='onSelectedNewImage'>
       </db-image-picker>
</template>

<script lang="ts" src='./DataInputImageSelectorComponent.ts'></script>
