<template>
<div class='data-key-list-component'>
        <div v-for="(item) in value" :key='item.name' class='list-item'>
                <div class='key' :style="`background-color:${item.colour.hex};`"></div>{{item.name}}
        </div>
</div>
</template>


<script lang="ts" src='./DataKeyListComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>
