.data-key-list-component {

    .list-item {
        .key {
            width: 20px;
            height: 20px;
            float: left;
            border-radius: 4px;
            margin-right: 2px;
        }

        text-align: left;
        padding: 2px;
        margin: 1px;
        width: 120px;
        float: left;
        white-space: nowrap;
    }
}