<template>
<v-dialog v-model="dialog" scrollable width="900">

    
    <div slot="activator" class='image-picker-component'>
      <v-tooltip top :disabled="isTooltipDisabled">

        <div class='image' slot="activator">
            <v-img v-if='value.isImageSelected' 
                    :src="value.localFileName" 
                    aspect-ratio="1" 
                    max-width=48 
                    class="grey lighten-2">
            </v-img>
            <i v-else class="far fa-question-circle"></i>
        </div>
        {{value.name}}
      </v-tooltip>
        <div class='button'>
            <v-btn>Pick Image</v-btn>
        </div>
        <div style="clear:both;"></div>
    </div>

    <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
            Select Image
        </v-card-title>

        <v-card-text>
            <db-multiple-gallery    :galleries='galleries'
                                    :selectedImage='value'
                                    :autoShowSelectedImage='true'
                                    :autoOpenOnLoad='true'
                                    @selectedNewImage='onSelectedNewImage'>
            </db-multiple-gallery>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" flat @click="dialog = false">
                Close
            </v-btn>
        </v-card-actions>
    </v-card>

</v-dialog>
</template>

<script  lang="ts"  src='./ImagePickerComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>
