.image-picker-component {
    border: solid 2px grey;
    border-radius: 4px;
    padding: 3px;

    .image {
        width: 48px;
        height: 48px;
        float: left;
        text-align: center;

        i {
            font-size: 40px;
            padding-top: 4px;
            color: #ddd;
        }
    }

    .button {
        float: left;
    }
}