<template>
    <div class= "colour-palette-component">
        <db-colour-preview-lens :colourList="colourList" 
                                :cellWidth='24' 
                                :cellHeight='24' 
                                :marginTop="1" 
                                :marginLeft='90'
                                @colourChanged='onColourChanged'>
        <div v-for='(list) in colourList'  :key='list.name' class='colour-grid-row'>
            <div class='colour-name'>{{list.name}}</div>
            <template v-for='(colour) in list.colours' >                 
                <div    :key='colour.name'    
                        :style="`background-color:${colour.hex}`"
                        @mouseenter="mouseEnter(colour)"
                        @mouseleave="mouseLeave(colour)"
                        class='colour-grid-cell'></div>                 
            </template>
            <div class='clear'></div>
        </div>
        </db-colour-preview-lens>
    </div>
</template>


<script lang="ts" src='./ColoursPaletteComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>

