.colour-palette-component {
    padding: 4px;
    width:585px
    height:496px;

    .colour-grid-row {
        float: none;
        display: block;

        .colour-name {
            width: 90px;
            float: left;
            font-weight: 100;
        }

        .colour-grid-cell {
            position: relative;
            display: inline-block;
            width: 22px;
            height: 22px;
            float: left;
            margin: 1px;
            border-radius: 3px;
            transition-duration: 0.75s;

            &:hover {
                transition-duration:  0.4s;
                transform: scale(1.4);
                border:solid 1px rgba(255,255,255,0.5);
                z-index: 90;
                border-radius: 2px;
            }
        }

        .clear {
            clear: both;
        }
    }
}
