<template>
<div class="colour-swatch-component">
    <div class='swatch' :style="swatchStyle"></div>
    <div class='name'>{{value.name}}</div>
    <div class='row-rgb'>
        <div class='label'>R</div>
        <div class='data'>{{value.red}}</div>
        <div class='label'>G</div>
        <div class='data'>{{value.green}}</div>
        <div class='label'>B</div>
        <div class='data'>{{value.blue}}</div>
    </div>
    <div class='row-hsl'>
        <div class='label'>H</div>
        <div class='data'>{{value.hue}}</div>
        <div class='label'>S</div>
        <div class='data'>{{value.saturationPercentage}}</div>
        <div class='label'>L</div>
        <div class='data'>{{value.luminosityPercentage}}</div>
    </div>
</div>
</template>


<script lang="ts" src='./ColourSwatchComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>

