<template>
    <div>
        
    <test-harness ref='harness'  title='Colour Selector' :titleIconCss="`${ComponentIconConstants.ColourGridIcon}`">         

        <template slot='preview' >
            <db-colour-selector></db-colour-selector>
            
        </template>

        <template slot='information'>
            Test Harness For Colour Grid
        </template>
        
    </test-harness>
    </div>
</template>

<script lang="ts" src='./ColourSelectorPage.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>
