<template>
    <div class="avatar-list-component-container">
         <transition-group name="list-complete" tag="p">
               <span  v-for="(avatar,index) in visibleAvatars" :key='avatar.id' class='list-complete-item'>
                  <db-avatar :key='avatar.id'
                              v-model='visibleAvatars[index]'
                              badgeAlignment = 'TopRight'
                              badgePosition = 'Border'>
                    </db-avatar>
               </span>
          </transition-group>
    </div>
</template>

<!--  -->

<script lang="ts" src='./AvatarListComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>