.avatar-list-component-container {
    .list-complete-item {
        transition: all 1s;
        display: inline-block;
        margin-right: 4px;
        margin-bottom: 4px;
    }

    .list-complete-enter {
        opacity: 0;
        transform: scale(0.1, 0.1);
    }

    .list-complete-leave-to {
        opacity: 0;
        transform: scale(0.1, 0.1);
    }

    .list-complete-leave-active {
        position: absolute;
    }

    .list-complete-move {
        transition: transform 1s;
    }
}