<template>
    <div class='test-harness-simple-chart'>
        <test-harness   ref='harness' 
                        v-model="parameters" 
                        :selectedTab='EnumTab.DemoControls'
                        title='Simple Chart' 
                        :titleIconCss="`${ComponentIconConstants.SimpleChartIcon}`">

            <template slot='preview'>
                <div class='preview-region'>
                    <db-simple-chart ref='simpleChart' v-model='parameters.chartModel'></db-simple-chart>
                </div>
            </template>

            <template slot='information'>
                Test Harness For Simple Chart
            </template>

             <template slot='controls'>
                <db-simple-chart-demo-controls @NewChartModel='onNewChartModel'></db-simple-chart-demo-controls>
            </template>
            
        </test-harness>
    </div>
</template>

<script lang="ts" src='./SimpleChartPage.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>
