<template>
<v-card v-if='showList' class="mb-3">

    <v-card-title primary-title class='grey lighten-3 title'>
        {{title}}
    </v-card-title>
    <div class="pb-2 pl-1 pr-1">
        <template value="true" v-for="(meta) in parameters">

            <v-container fluid :key="meta.name" class=' grey lighten-4 pa-1 mt-1'>
                <v-layout row wrap class='parameter-titles'>

                    <v-flex xs2>
                        <label>name</label>
                    </v-flex>
                    <v-flex xs7>
                        <label>description</label>
                    </v-flex>
                     <v-flex xs3>
                        <label>type</label>
                    </v-flex>

                </v-layout>
                <v-layout row wrap class="parameter-values">
                    <v-flex xs2>
                        <label class='name'>{{meta.name}}</label>
                    </v-flex>
                    <v-flex xs7>     
                        <label>{{meta.description}}</label>               
                    </v-flex>
                     <v-flex xs3>
                        <label>{{meta.eventValue}}</label>
                    </v-flex>

                </v-layout>
            </v-container>

        </template>
    </div>
</v-card>
</template>


<script lang="ts" src='./ParametersEventListComponent.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>