.parameter-titles {
    label {
        font-family: monospace;
        font-weight: light;
        font-size: 12px;
        color: #555;
    }
}

.parameter-values {
    label {
        font-family: monospace;
        font-weight: bold;
        font-size: 16px;
        color: #222;
    }

    .name {
        color: #bd4147;
    }
}