<template>
<v-layout class='image-multiple-gallery-component'>
    <v-flex xs12>
        <v-toolbar color="orange lighten-1">
            <v-btn-toggle   v-model="selectedGalleryId" 
                            v-for="(gallery) in sortedGalleries" 
                            @click.native="onGalleryClick(gallery)"
                            :key="gallery.id">
                <v-btn color="orange" :value="gallery.id" class='btn-medium'>
                    <span>{{gallery.name}}</span>
                </v-btn>
            </v-btn-toggle>
        </v-toolbar>

        <db-single-gallery :gallery='selectedGalleryModel' 
                            :selectedImage='selectedImage'
                            :autoShowSelectedImage='autoShowSelectedImage'
                            :autoOpenOnLoad='autoOpenOnLoad'
                            @selectedNewSection='onSelectedNewSection' 
                            @selectedNewImage='onSelectedNewImage'>

        </db-single-gallery>
    </v-flex>
</v-layout>
</template>

<script  lang="ts"  src='./MultipleGalleryComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>