<template>
  <div class='property-drop-down'>
    <v-select 
            solo
            hide-details
            v-model="value[meta.name]"
            :items="meta.valueOptions"></v-select>
    </div>
</template>

<script lang="ts" src='./DataInputDropDownComponent.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>
