<template>
        <div v-on-resize  @resize="onResize" class='simple-graph-component'>
        <canvas  ref='canvas'></canvas>
        </div>
</template>


<script lang="ts" src='./SimpleChartComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>

