<template>
<db-element-page>
    <db-element-title  :iconCss="`${ComponentIconConstants.AboutIcon}`" >
        This is an about page
    </db-element-title>
</db-element-page>
</template>


<script lang="ts" src='./AboutPage.ts'></script>
