<template>

    <test-harness ref='harness' v-model="parameters" title='Message List' :titleIconCss="`${ComponentIconConstants.messageListIcon}`">

        <template slot='preview'>
            <div class='demo-message-list-container'>
                <div class='demo-message-list'>
                    <db-message-list v-model='parameters.chat'></db-message-list>
                </div>
            </div>
        </template>

        <template slot='information'>
            Test Harness Message List
        </template>
        
         <template slot='controls'>
            <db-message-list-demo-controls v-model='parameters'></db-message-list-demo-controls>
        </template>
    

    </test-harness>

</template>

<script lang="ts" src='./MessageListPage.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>
