
.demo-message-list-container {
    width:100%;
    text-align: center;  
    background-color: #f4f4f4;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 6px;

    .demo-message-list {
        margin: auto;
        width:600px;
        background-color: #fff;
        max-height: 500px;
    
    }
}
