<template>
     <v-text-field
            solo
            clearable
            hide-details
            v-model='value[meta.name]'
          ></v-text-field>
</template>

<script lang="ts" src='./DataInputStringComponent.ts'></script>
