<template>

    <test-harness ref='harness' v-model="parameters" title='Avatar List' :titleIconCss="`${ComponentIconConstants.AvatarListIcon}`">
                
        <template slot='preview'>
           <db-avatar-list  :avatars='parameters.avatars'
                            :orientation='parameters.orientation'>

           </db-avatar-list>
        </template>

        <template slot='information'>
            Test Harness For Avatar, the interface for the model is IAvatarModel.
        </template>

        <template slot='controls'>
            <db-all-avatars-list :avatarList='parameters.avatars'></db-all-avatars-list>
        </template>
        
    </test-harness>

</template>

<script lang="ts" src='./AvatarListPage.ts'></script>
