.title-wrapper-container {
    $colour = #fff;
    $startShade = 30;
    $shadeIncrement = 10;
    background-color: #EF6C00;
    padding: 4px;
    padding-left: 20px;
    padding-bottom: 16px;
    border-radius: 10px;

    .title-icon {
        width: 120px;
        font-size: 64px;
        text-align: center;
        color: white;
        text-shadow:    0 1px 0 darken($colour, $startShade), 
                        0 2px 0 darken($colour, $startShade + (1 * $shadeIncrement)), 
                        0 6px 1px rgba(0, 0, 0, 0.1), 
                        0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 3px rgba(0, 0, 0, 0.3), 
                        0 3px 5px rgba(0, 0, 0, 0.2), 
                        0 5px 10px rgba(0, 0, 0, 0.25), 
                        0 10px 10px rgba(0, 0, 0, 0.2), 
                        0 20px 20px rgba(0, 0, 0, 0.15);
        float: left;
    }

    .text {
        padding-top: 10px;
        font-family: arial;
        font-size: 60px;
        font-weight: bolder;
        color: $colour;
        text-shadow:    0 1px 0 darken($colour, $startShade),
                        0 2px 0 darken($colour, $startShade + (1 * $shadeIncrement)), 
                        0 6px 1px rgba(0, 0, 0, 0.1), 
                        0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 3px rgba(0, 0, 0, 0.3), 
                        0 3px 5px rgba(0, 0, 0, 0.2), 
                        0 5px 10px rgba(0, 0, 0, 0.25), 
                        0 10px 10px rgba(0, 0, 0, 0.2), 
                        0 20px 20px rgba(0, 0, 0, 0.15);
    }
}