<template>
     <div class='property-switch'>
          <v-switch v-model="value[meta.name]"></v-switch>
     </div>
</template>

<script lang="ts" src='./DataInputSwitchComponent.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>