.property-switch {
    position: relative;
    float: right;

    .v-input--selection-controls {
        padding: 0;
        margin: 0;

        .v-messages {
            display: none;
        }

        .v-input__slot {
            margin: 0;
        }
    }
}