<template>
<div>

    <v-dialog v-model="dialog" scrollable width="290">
        <div slot="activator" class='image-picker-component'>
            <div class='date' v-if='dateIsValid'>
            {{dateFormatted}}
            </div>
            <i v-else class="far fa-question-circle"></i>
             <div class='button'>
            <v-btn>Pick Date</v-btn>
        </div>
        <div style="clear:both;"></div>
        </div>
        <v-card>
            <!-- <v-card-title class="headline grey lighten-2" primary-title>
                Select Date
            </v-card-title> -->

            <v-card-text class='pa-0'>
                <v-date-picker v-model="datePickerValue"></v-date-picker>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" flat @click="dialog = false">
                    Close
                </v-btn>
            </v-card-actions>
        </v-card>

    </v-dialog>
</div>
</template>

<script  lang="ts"  src='./DatePickerComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>