.image-picker-component {
    border: solid 2px grey;
    border-radius: 4px;
    padding: 3px;
    width: 210px;

    .date {
        float: left;
        padding-left: 2px;
        padding-top: 14px;
    }

    i {
        padding-left: 28px;
        font-size: 40px;
        padding-top: 4px;
        color: #ddd;
    }

    .button {
        float: right;
    }
}