.test-harness-component {
    .live-preview-area {
        position: sticky;
        top: 80px;
        z-index: 99;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 2px 15px #444;
    }

    .live-preview-card {
        background-color: rgba(255, 255, 255, 0.65);
    }
}
