<template>
<div class='test-harness-component'>
<db-element-page>

    <db-element-title :iconCss="titleIconCss">
        {{title}}
    </db-element-title>

    <div class="mt-4 live-preview-area">
        <div class='font-weight-light headline primary--text pa-2'>
            Live Preview
        </div>
        <v-card class='live-preview-card'>
            <v-card-title primary-title>
                <slot name='preview'></slot>
            </v-card-title>
        </v-card>
    </div>

    <div class="mt-4">
        <div class='font-weight-light headline primary--text pa-2'>
            Information
        </div>
        <v-card>
            <v-card-title primary-title>
                <slot name='information'></slot>
            </v-card-title>
        </v-card>
    </div>



    <div class='font-weight-light headline primary--text pa-2'>
        Parameters
    </div>
    <div class="mt-4">
        <v-tabs slider-color="green" v-model="currentTab">
            <v-tab :key='EnumTab.Parameters'>Parameters</v-tab>
            <v-tab-item :key='EnumTab.Parameters'>
                <parameters-form v-model="value" showProperties></parameters-form>
            </v-tab-item>

            <v-tab v-if='showControls' :key='EnumTab.DemoControls' >Demo Controls</v-tab>
            <v-tab-item v-if='showControls' :key='EnumTab.DemoControls' >
                <v-card>
                    <v-card-title primary-title class='pa-0'>
                        <slot name='controls'></slot>
                    </v-card-title>
                </v-card>
            </v-tab-item>

            <v-tab :key='EnumTab.Events'>Events</v-tab>
            <v-tab-item :key='EnumTab.Events'>
                <parameters-form v-model="value" showEvents></parameters-form>
            </v-tab-item>

            <v-tab :key='EnumTab.EventLog'>Event Log</v-tab>
            <v-tab-item :key='EnumTab.EventLog'>
                <db-event-log :eventLog="eventLog"></db-event-log>
            </v-tab-item>

        </v-tabs>
    </div>

</db-element-page>
</div>
</template>

<script lang="ts" src='./TestHarnessComponent.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>