<template>
<transition name="fade-avatar">
    <div class="avatar-component-container">

        <div :class="`selector ${selectedCss}`"></div>

        <div class='zoom-container'>
             <div  v-if='showSvgBorder' :class="svgAnimationClass">
                <svg width="60px" height="60px" viewBox="0 0 60 60">
                    <circle :class="svgPathClass" cx="30" cy="30" r="28"  />
                </svg>
            </div>

            <v-img :src="value.imageUrl" :alt="value.name" class='image'></v-img>

            

        </div>
        <div class='badge-area'>            
            <db-badge   v-model='value.notifications' 
                        :position='badgePosition' 
                        :alignment='badgeAlignment'> </db-badge>
        </div>

        <div class="label-container">
            <div :class="`label-text ${Label1Css}`">{{value.name}}</div>
            <div :class="`label-text ${Label2Css}`">{{value.alternativeText}}</div>
        </div>

        

    </div>

</transition>
</template>


<script lang="ts" src='./AvatarComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>