
.avatar-component-container {
    position: relative;
    width: 60px;
    height: 84px;
    margin-left: 3px;
    margin-right: 3px;

    .image {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 48px;
        height: 48px;
        border-radius: 100px;
    }

    .badge-area {
        pointer-events: none;
        position: absolute;
        top: 6px;
        left: 6px;
        width: 48px;
        height: 48px;
    }

    .zoom-container {
        transition-duration: 0.75s;
        width: 60px;
        height: 60px;

        &:hover {
            transform: scale(1.3);
        }
    }

    .selector {
        transition-duration: 0.25s;
        position: absolute;
        left: -4px;
        top: -4px;
        width: 68px;
        height: 68px;
        border-radius: 100px;
        border: solid 3px lighten(steelblue, 10);
        background-color: lighten(steelblue, 45);
        opacity: 0;
        transform: scale(0.8);

        &.selected {
            opacity: 1;
            transform: scale(1);
        }
    }

    .circle-border {
        position: absolute;
        left: -4px;
        top: -4px;
        width: 68px;
        height: 68px;
        border-radius: 100px;
        border: solid 3px lighten(steelblue, 10);
        background-color: lighten(steelblue, 40);
    }

    .label-container {
        font-size: 12px;
        position: relative;
        border-radius: 8px;
        opacity: 0.5;
        top: 5px;
        height: 18px;
        padding: 0;
        overflow-y: hidden;
        margin: auto;
        text-align: center;
        background-color: darken(grey, 10);
        color: white;
        width: 58px;

        .label-text {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 58px;
            height: 16px;
        }

        .switch-1 {
            animation-duration: 8s;
            animation-iteration-count: infinite;
            transition-timing-function: ease-in-out;
            animation-name: keyframes-status-text-1-animation;
        }

        .switch-2 {
            opacity: 0;
            animation-duration: 8s;
            animation-iteration-count: infinite;
            transition-timing-function: ease-in-out;
            animation-delay: 4s;
            animation-name: keyframes-status-text-1-animation;
        }
    }

    .svg-container {
        position: absolute;
        width: 60px;
        height: 60px;
    }

    .svg-path-grey-slow {
        stroke: lighten(grey, 20);
        stroke-width: 3;
        stroke-linecap: round;
        stroke-dasharray: 12, 4;
        stroke-dashoffset: 0;
        fill: none;
    }

    .svg-path-green-quick {
        stroke: rgba(129, 199, 132, 1);
        stroke-width: 4;
        stroke-linecap: round;
        stroke-dasharray: 4, 8, 10, 8;
        stroke-dashoffset: 2;
        fill: none;
    }

    .svg-path-busy {
        stroke: darken(red, 10);
        stroke-width: 4;
        stroke-linecap: round;
        stroke-dasharray: 1, 7;
        stroke-dashoffset: 2;
        fill: none;
    }

    .svg-container-avatar-green-quick-animation {
        animation-duration: 16s;
        animation-iteration-count: infinite;
        transition-timing-function: ease-in-out;
        animation-name: keyframes-svg-container-avatar-green-quick-animation;
    }

    .svg-container-avatar-grey-slow-animation {
        animation-duration: 24s;
        animation-iteration-count: infinite;
        transition-timing-function: linear;
        animation-name: keyframes-svg-container-avatar-grey-slow-animation;
    }
}

@keyframes keyframes-status-text-1-animation {
    0% {
        transform: translate(0, -5px);
        opacity: 0;
    }

    10% {
        transform: translate(0, 0);
        opacity: 1;
    }

    50% {
        transform: translate(0, 0);
        opacity: 1;
    }

    60% {
        transform: translate(0, 10px);
        opacity: 0;
    }

    100% {
        transform: translate(, -10px);
        opacity: 0;
    }
}

@keyframes keyframes-svg-container-avatar-green-quick-animation {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1) rotate(270deg);
    }

    50% {
        transform: scale(1) rotate(0deg);
    }

    75% {
        transform: scale(1) rotate(350deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes keyframes-svg-container-avatar-grey-slow-animation {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1) rotate(-180deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}
