<template>
    <div>
      <p class="text-xs-center">
        <v-progress-circular indeterminate 
              :color="colour" 
              :size="size" 
              :width="width">
        </v-progress-circular>
      </p>
    </div>
</template>

<script  lang="ts"  src='./LoaderComponent.ts'></script>