<template>

    <test-harness ref='harness' v-model="parameters" title='Avatar' :titleIconCss="`${ComponentIconConstants.AvatarIcon}`">
                
        <template slot='preview'>
            <db-avatar  v-model='parameters'
                        :badgeAlignment = 'parameters.badgeAlignment'
                        :badgePosition = 'parameters.badgePosition'
            
            ></db-avatar>
        </template>

        <template slot='information'>
            Test Harness For Avatar, the interface for the model is IAvatarModel
        </template>
        
    </test-harness>

</template>

<script lang="ts" src='./AvatarPage.ts'></script>
