<template>
<div class='number-spinner-component'>
    <input   type="text"
            v-model="number"
            @paste="onPasteHandler"
            @keydown="onKeyDownHandler">
    
    <button class='button-subtract' @click="onSubtractClicked">-</button>
    <button class='button-add' @click="onAddClicked">+</button>

</div>
</template>

<script  lang="ts"  src='./NumberSpinnerComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>