.number-spinner-component {
    input {
        outline: none;
        height: 24px;
        width: 48px;
        padding: 1px;
        padding-left: 8px;
        border: solid 2px #ccc;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-right-width: 1px;

        &:hover {
            border-color: steelblue;
        }
    }

    button {
        outline: none;
        width: 24px;
        height: 24px;
        font-weight: bold;
        border: solid 2px #ccc;

        &:hover {
            border-color: steelblue;
        }
    }

    .button-subtract {
        border-left-width: 1px;
        border-right-width: 1px;
    }

    .button-add {
        border-left-width: 1px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .placeholder-hue {
        position: absolute;
        top: 10px;
        right: 40px;
        height: 30px;
        width: 200px;
        border: solid 2px grey;
        border-radius: 30px;
    }
}