<template>
  <v-app>
    
    <transition appear name="fade" mode="out-in">
    <v-toolbar  v-if='showHeader'  app>
      <v-toolbar-title class="headline ">
        <span>VueJS</span>
        <span class="font-weight-light"> Component Development Framework</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    </transition>
    
<transition appear name="fade" mode="out-in">
 <v-navigation-drawer 
      v-if='showToolbar'
      :clipped="true"
      fixed
      permanent
      app
      width="210"
      disable-resize-watcher>
      <test-items-menu></test-items-menu>
    </v-navigation-drawer>
</transition>
    <v-content>
      
     <router-view></router-view>
      

    </v-content>
  </v-app>
</template>


<script src="./App.ts"></script>