<template>
<transition name="fade-badge">
    <div v-if="showBadge" :class= "`badge-container ${badgeAlignment} ${badgePosition}`">
        <div class='badge'>
            <div :class='`text ${textCss}`'>{{textValue}}</div>
        </div>
    </div>
</transition>
</template>


<script lang="ts" src='./BadgeComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>

