$badge-label-width-1 = 22px;
$badge-label-width-2 = 32px;
$badge-label-width-3 = 42px;
$badge-label-width-4 = 52px;
$badge-label-width-5 = 62px;

placementStyles(placement, offsetX, offsetY) {
    &.top-left.{placement} > .badge {
        top: offsetY;
        left: offsetX;
        width: $badge-label-width-5;
    }

    &.top-center.{placement} > .badge {
        top: offsetY;
        left: 0;
        right: 0;
    }

    &.top-right.{placement} > .badge {
        top: offsetY;
        right: offsetX;
        width: $badge-label-width-5;
    }

    &.middle-left.{placement} > .badge {
        top: 0;
        left: offsetX;
        bottom: 0;
        width: $badge-label-width-5;
    }

    &.middle-center.{placement} > .badge {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &.middle-right.{placement} > .badge {
        top: 0;
        bottom: 0;
        right: offsetX;
        width: $badge-label-width-5;
    }

    &.bottom-left.{placement} > .badge {
        bottom: offsetY;
        left: offsetX;
        width: $badge-label-width-5;
    }

    &.bottom-center.{placement} > .badge {
        left: 0;
        bottom: offsetY;
        right: 0;
    }

    &.bottom-right.{placement} > .badge {
        bottom: offsetY;
        right: offsetX;
        width: $badge-label-width-5;
    }
}

.badge-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    .badge {
        margin: auto;
        position: absolute;
        height: 22px;
        opacity: 0.8;

        .text {
            border: solid 1px darken(red, 15);
            background-color: red;
            border-radius: 20px;
            height: 22px;
            position: reletive;
            margin: auto;
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 16px;
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
            padding: 0;
            line-height: 16px;
            padding-top: 2px;

            $.left {
                margin-left: 0;
            }

            $.right {
                margin-right: 0;
            }

            $.center {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
            }

            &.width-1 {
                width: $badge-label-width-1;
            }

            &.width-2 {
                width: $badge-label-width-2;
            }

            &.width-3 {
                width: $badge-label-width-3;
            }

            &.width-4 {
                width: $badge-label-width-4;
            }

            &.width-5 {
                width: $badge-label-width-5;
            }
        }
    }

    placementStyles(inside, 1px, 0px);
    placementStyles(border, -32px, -10px);
    placementStyles(outside, -65px, -25px);
}

.fade-badge-enter-active {
    transition: 0.75s;
    opacity: 1;
}

.fade-badge-leave-active {
    transition: 0.5s;
    opacity: 1;
}

.fade-badge-enter {
    transition: 0.5s;
    opacity: 0;
}

.fade-badge-leave-to {
    transition: 0.5s;
    opacity: 0;
}