<template>
<v-footer class='indigo lighten-1 white--text footer' height="auto">

    <v-container fluid>

        <v-layout row wrap>
            <v-flex xs3>
                <v-btn flat to='home'>Back To Framework</v-btn>
            </v-flex>
            <v-flex xs3>
                {{ticksLabels[presentationScaleIndex]}}
                <v-slider   dark 
                            label='scale'
                            v-model="presentationScaleIndex"
                            always-dirty
                            color='#ffffff'
                            track-color="#999999"
                            thumb-color="red"
                            :min="0"
                            :max="ticksLabels.length - 1" 
                            step="1"></v-slider>
            </v-flex>
            <v-flex xs1>
                
            </v-flex>

        </v-layout>

    </v-container>

</v-footer>
</template>

<script lang="ts" src='./FooterComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>
