<template>
    <div ref='container' class= "colour-preview-lens-component"
        @mouseenter="onMouseEnter"
        @mouseleave="onMouseLeave"
        @mousemove="onMouseMove"
        @click="onMouseClick">
        <slot>
       
       </slot>
        <transition name="slide-fade">
       <div v-if='active && visible' 
            class='lens-container' 
            :style="`top:${coordsY}px; left:${coordsX}px;`" >
            <div class='swatch' :style="swatchStyle"></div>
            <div class='name'>{{activeColour.name}}</div>
            <div class='row-rgb'>
                <div class='label'>R</div>
                <div class='data'>{{activeColour.red}}</div>
                <div class='label'>G</div>
                <div class='data'>{{activeColour.green}}</div>
                <div class='label'>B</div>
                <div class='data'>{{activeColour.blue}}</div>
            </div>
            <div class='row-hsl'>
             <div class='label'>H</div>
                <div class='data'>{{activeColour.hue}}</div>
                <div class='label'>S</div>
                <div class='data'>{{activeColour.saturationPercentage}}</div>
                <div class='label'>L</div>
                <div class='data'>{{activeColour.luminosityPercentage}}</div>
            </div>
        </div>
        </transition>
    </div>
</template>

<script lang="ts" src='./ColourPreviewLensComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>

