.colour-preview-lens-component {
    position: relative;
   // border: solid 1px lighten(steelblue, 30);
    display: inline-block;

    .lens-container {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 2px steelblue;
        width: 180px;
        height: 180px;
        border-radius: 8px;
        background-color: #fff;
        z-index: 99;

        .swatch {
            position: absolute;
            top: 6px;
            left: 6px;
            right: 6px;
            height: 100px;
            border-radius: 8px;
        }

        .row-rgb {
            position: absolute;
            bottom: 44px;
            left: 2px;
            right: 2px;
            height: 20px;
        }

        .row-hsl {
            position: absolute;
            bottom: 24px;
            left: 2px;
            right: 2px;
            height: 20px;
        }

        .name {
            position: absolute;
            bottom: 4px;
            left: 8px;
            right: 2px;
            height: 20px;
            font-weight: 800;
        }

        .label {
            position:relative;
            width: 18px;
            height: 18px;
            float: left;
            font-size: 16px;
            line-height: 16px;
            font-weight: 200;
            color: #222;
            text-align: center;
            padding:0;
        }
        .data {
            position:relative;
            width: 34px;
            height: 18px;
            float: left;
            font-size: 16px;
            float: left;
            font-size: 16px;
            line-height: 16px;
            padding: 0;
        }
    }

    .slide-fade-enter-active {
        transition: transform 0.3s, opacity 0.3s;
        opacity: 1;
    }

    .slide-fade-enter {
        transform: translatey(20px);
        opacity: 0;
    }

    .slide-fade-leave-active {
        transition: all 0.3s;
    }

    .slide-fade-leave-to {
        transform: translatey(10px);
        opacity: 0;
    }
}