<template>
    <div class='test-harness-colour-preview-lens'>
        
    <test-harness ref='harness'  title='Colour Preview Lens' :titleIconCss="`${ComponentIconConstants.ColourPreviewLensIcon}`">         

        <template slot='preview' >
            <div class='preview-area'>
          
           

            <div class='targets-container'>
                <db-colour-preview-lens :colour="coloursWeb.Red"><div class='target red'></div></db-colour-preview-lens>
                <db-colour-preview-lens :colour="coloursWeb.Green"><div class='target green'></div></db-colour-preview-lens>
                <db-colour-preview-lens :colour="coloursWeb.Blue"><div class='target blue'></div></db-colour-preview-lens>
                <db-colour-preview-lens :colour="coloursWeb.Purple"><div class='target purple'></div></db-colour-preview-lens>
                <db-colour-preview-lens :colour="coloursWeb.Pink"><div class='target pink'></div></db-colour-preview-lens>
                <db-colour-preview-lens :colour="coloursWeb.Yellow"><div class='target yellow'></div></db-colour-preview-lens>
                <db-colour-preview-lens :colour="coloursWeb.Magenta"><div class='target deep-purple'></div></db-colour-preview-lens>
                <db-colour-preview-lens :colour="coloursWeb.Cyan"><div class='target cyan'></div></db-colour-preview-lens>
                <db-colour-preview-lens :colour="coloursWeb.Teal"><div class='target teal'></div></db-colour-preview-lens>
                <db-colour-preview-lens :colour="coloursWeb.Brown"><div class='target brown'></div></db-colour-preview-lens>
            </div>
             </div>
        </template>

        <template slot='information'>
            Test Harness For Colour Preview Lens
        </template>
        
    </test-harness>
    </div>
</template>

<script lang="ts" src='./ColourPreviewLensPage.ts'></script>
<style lang="stylus" src="./Styles.styl"></script>
