.test-harness-colour-preview-lens {
    .preview-area {
        position: relative;
        border: dashed 1px red;
        height: 300px;
        width: 100%;

        .targets-container {
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: 20px;
            border: red 1px dashed;
            padding: 6px;

            .target {
                width: 60px;
                height: 60px;
                border: grey 1px solid;
                border-radius: 8px;
                float:left;
                margin:8px;
            }
        }
    }
}