<template>
<div class='sample-component-wrapper'>
    <v-container fluid grid-list-md>

        <v-layout row wrap >
            <v-flex xs3>
                <v-btn @click='sampleEventA'>Sample Event A</v-btn>
            </v-flex>
            <v-flex xs3>
                <v-btn @click='sampleEventB'>Sample Event B</v-btn>
            </v-flex>
            <v-flex xs3>
                <v-btn @click='sampleEventC'>Sample Event C</v-btn>
            </v-flex>
            <v-flex xs3>
                <v-btn @click='sampleEventD'>Sample Event D</v-btn>
            </v-flex>
        </v-layout>

        
        <v-layout row wrap>

            <v-flex xs4>
                <v-card >
                    <div class='sample-item'>
                        <div class='item-title'>Name</div>
                        <div class='item-result'>
                            {{value.name}}
                        </div>
                    </div>
                </v-card>
            </v-flex>

            <v-flex xs4>
                <v-card >
                    <div class='sample-item'>
                        <div class='item-title'>Age</div>
                        <div class='item-result'>
                            {{value.age}}
                        </div>
                    </div>
                </v-card>
            </v-flex>

             <v-flex xs4>
                <v-card >
                    <div class='sample-item'>
                        <div class='item-title'>Eligible to Vote</div>
                        <div class='item-result'>
                            {{value.eligibleToVote}}
                        </div>
                    </div>
                </v-card>
            </v-flex>

           

          <v-flex xs4>
                <v-card >
                    <div class='sample-item'>
                        <div class='item-title'>House Number</div>
                        <div class='item-result'>
                            {{houseNumber}}
                        </div>
                    </div>
                </v-card>
            </v-flex>
           

            <v-flex xs4>
                <v-card >
                    <div class='sample-item'>
                        <div class='item-title'>Address</div>
                        <div class='item-result'>
                            {{address}}
                        </div>
                    </div>
                </v-card>
            </v-flex>


            <v-flex xs4>
                <v-card >
                    <div class='sample-item'>
                        <div class='item-title'>Rented</div>
                        <div class='item-result'>
                            {{rented}}
                        </div>
                    </div>
                </v-card>
            </v-flex>

            <v-flex xs3>
                <v-card >
                    <div class='sample-item'>
                        <div class='item-title'>Favorite Painting</div>
                        <div class='item-result-image'>
                             <v-layout justify-center>
                             <v-img :src="value.favoritePaintingImageUrl" 
                                    aspect-ratio="1" 
                                    max-width=100 
                                    class="grey lighten-2">
                            </v-img>
                             </v-layout>
                        </div>
                    </div>
                </v-card>
            </v-flex>

            <v-flex xs3>
                <v-card >
                    <div class='sample-item'>
                        <div class='item-title'>Favorite Animal</div>
                        <div class='item-result'>
                            placeholder
                        </div>
                    </div>
                </v-card>
            </v-flex>

            <v-flex xs3>
                <v-card >
                    <div class='sample-item'>
                        <div class='item-title'>Favorite Stock Photo</div>
                        <div class='item-result'>
                            placeholder
                        </div>
                    </div>
                </v-card>
            </v-flex>

            <v-flex xs3>
                <v-card >
                    <div class='sample-item'>
                        <div class='item-title'>Favorite Image</div>
                        <div class='item-result'>
                            placeholder
                        </div>
                    </div>
                </v-card>
            </v-flex>


        </v-layout>
    </v-container>
</div>
</template>

<script lang="ts" src='./SampleComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>