.sample-component-wrapper {

    width:100%;

    .sample-item {
       
        

        .item-title {
            position:absolute;
            left:4px;
            top:4px;
            color:steelblue;
        }
        .item-result {
            padding-left:20px;
            padding-top:20px;
            font-size:36px;
            color:darken(steelblue,10);
        }

        .item-result-image {
            margin:auto;
            padding-top:30px;
            padding-bottom:10px;

        }
    }
}