.time-line-summary-component {
    position: relative;
    width: 100%;
    height: 164px;

    .region-canvas {
        position: absolute;
        top:0;
        left:0;
        right:0;
        height:140px;
    }

    .region-data-key {
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        height:20px;
    }

    .highlighted-range {
        position:absolute;
        border:dotted 2px rgba(255,64,64,0.6);
        background-color: rgba(255,128,128,0.4);
        height:82px;
        width:20px;
        border-radius:4px;
        top:0px;
        left:50px;
        pointer-events: none;
    }
}
