<template>
    <div    v-on-resize  
            @resize="onResize" 
            class='time-line-summary-component'>
        <div class='region-canvas'
            @mouseenter="onMouseEnter"
            @mouseleave="onMouseLeave"
            @mousemove="onMouseMove"
            @mousedown="onMouseDown"
            @mouseup="onMouseUp">
            <div ref='selectedRange' class='highlighted-range'></div>
            <canvas  ref='canvas' ></canvas>
            
        </div>
        <div class='region-data-key'>
             <db-data-key-list v-model='dataKeys'></db-data-key-list>
        </div>
    </div>
</template>

<script  lang="ts"  src='./TimeLineSummaryComponent.ts'></script>
<style lang="stylus" scoped src='./Styles.styl'></style>